* {
  font-family: 'Cabin', sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 50px;
}

.findMovie {
  display: block;
  margin: 30px auto;
  max-width: 80vw;
  text-align: center;
}

.movieGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px auto;
}

.movieCard {
  max-width: 30vw;
  height: auto;
}
